.coffee {
  background: #6F4E37;
}

.milk {
  background: #b89d8a;
}

#cup-display {
  width: 200px;
  height: 250px;
  font-size: 22px;
  padding-top: 100px;
  border: 10px solid black;
  text-align: center;
  margin: auto;
}

body {
  text-align: center;
  margin: auto;
  font-family: sans-serif;
}