.coffee-color {
  background: #6F4E37;
}

.milky-color {
  background: #b89d8a;
}

/* ANIMATION is triggered in JavaScript by adding this class name! */
.milk-animation {
  animation-name: pour-milk;
  animation-duration: 3s;
  animation-iteration-count: 2;
}
@keyframes pour-milk {
  from { transform: rotate(0deg); }
  to { transform: rotate(-100deg); }
}

#milk-emoji {
  position: absolute;
  top: 5%;
  left: 65%;
  font-size: 100px;
}

#cup-display {
  width: 200px;
  height: 250px;
  font-size: 22px;
  padding-top: 100px;
  border: 10px solid black;
  text-align: center;
  margin: auto;
}

body {
  text-align: center;
  margin: auto;
  font-family: sans-serif;
}